{% extends 'layout/layout.html.twig' %}

{% block title %}Enseigne{% endblock %}

{% block body %}

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Enseigne</h2>
            </div>
            <div class="block-body row">
              <div class="col-12">
                    <div class="card">
                        <div class="header">
                            <h4>
                               Vos Enseigne
                            </h4>
                            <ul class="header-dropdown m-r--5">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="material-icons">mic</i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body" style="min-height:400px">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                  
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                    <thead>
                                        <tr>
                                          <th>N°</th>
                                            <th>Logo</th>
                                            <th>Nom</th>
                                            <th>Code</th>
                                            <th>Numero</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>N°</th>
                                            <th>Logo</th>
                                            <th>Nom</th>
                                            <th>Code</th>
                                            <th>Numero</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for enseigne in enseignes%}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td><img src="{{enseigne.logo}}" width="40px"/></td>
                                            <td>{{enseigne.nom_enseigne}}</td>
                                            <td>{{enseigne.code_enseigne}}</td>
                                            <td>{{enseigne.phone}}</td>
                                            <td><button class="btn btn-primary btn-round"><i class="fa fa-edit"></i> Modifier</button></td>
                                        </tr>
                                    {%endfor%}
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{%block js%}
    <script src="{{asset('plugins/jquery-datatable/jquery.dataTables.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/buttons.flash.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/jszip.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/pdfmake.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/vfs_fonts.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/buttons.html5.min.js')}}"></script>
    <script src="{{asset('plugins/jquery-datatable/extensions/export/buttons.print.min.js')}}"></script>

<script>
    $(function () {
    $('.js-basic-example').DataTable({
        responsive: true
    });

    //Exportable table
    $('.js-exportable').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});

    </script>
{% endblock %}
