<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>mynet2all - login</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{{asset('plugins/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{{asset('plugins/node-waves/waves.css')}}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{{asset('plugins/animate-css/animate.css')}}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">
</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">My-<b>Net2all</b></a>
            <small>votre plateforme multiservices</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST"  action ="{{path('login-request')}}" >
                    <div class="msg">Se connecter pour demarer une nouvelle session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Emain ou Numero" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Se souvernir de moi</label>
                        </div>
                        <div class="col-xs-5">
                            <button class="btn btn-block bg-pink waves-effect text-center" type="submit"> Se connecter </button>
                        </div>
                    </div>
                    {% if app.request.get('error')%}
                    <div class="alert alert-danger text-center"  >
                    Identifiant de connexion incorrect
                    </div>
                    {% endif %}
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="https://net2all-business.online/Views/inscription.php?or=https://my-net2all.online/public/">S'inscrire</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="{{path('app_forgot_password_request')}}">Mot de passe oublié?</a>
                        </div>
                    </div>
                </form>
                     
            </div>
             </div>
            <div class="footer">
      
           <div class="" style="text-align:center">
     <ins data-revive-zoneid="2" data-revive-id="9cfb6ee649ce3f97fe155b20e007070e"></ins>
<script async src="//regie.instantmark.online/www/delivery/asyncjs.php"></script>
</div>

            </div>
       
    </div>

    <!-- Jquery Core Js -->
    <script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{{asset('plugins/bootstrap/js/bootstrap.js')}}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{{asset('plugins/node-waves/waves.js')}}"></script>

    <!-- Validation Plugin Js -->
    <script src="{{asset('plugins/jquery-validation/jquery.validate.js')}}"></script>

    <!-- Custom Js -->
    <script src="{{asset('js/admin.js')}}"></script>
    <script src="{{asset('js/pages/examples/sign-in.js')}}"></script>
</body>

</html>